.showMarker {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.showMarker ul {
  list-style-type: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.showMarker li::marker {
  color: #64748b;
}

.showMarker li > p {
  display: inline;
}

.showMarker hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(229, 231, 235);
}
