.userQuery {
    background: #E6F1FE;
    margin: 0.5rem;
    font-size: 0.875rem;
}

.card {
    width: 95%;
    padding: 3px;
    border-radius: 16px;
    line-height: 1.25rem;
}

.cardHeader {
    padding: 4px 8px;
}

.cardBody {
    padding: 4px 8px;
}

.cardFooter {
    padding: 0.25rem;
    justify-content: right;
}

.resetButton {
    background: transparent;
    border: none;
    box-shadow: none;
    width: 1.5em;
    height: 1.5em;
}
