Flask-Cors==4.0.1
Flask==3.0.3
PyYAML==6.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
faiss-cpu==1.8.0.post1
fastapi==0.112.0
gensim==4.1.2
gunicorn==22.0.0
huggingface-hub==0.23.4
ipykernel==6.29.5
joblib==1.4.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
nltk==3.8.1
numpy==1.22.4
pandas==2.2.2
pillow==10.4.0
pydantic==2.8.2
pyspellchecker==0.8.1
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.7.3
sentence-transformers==3.0.1
spacy==3.7.5
tokenizers==0.19.1
torch==2.2.2
tqdm==4.66.4
transformers==4.42.3
typer==0.12.3
urllib3==2.2.2
uvicorn==0.30.5