en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
Flask==3.0.3
Flask-Cors==4.0.1
gensim==4.3.3 #gensim 4.1.2 does not work for me 
nltk==3.8.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
