[run]
omit =
    functions/__init__.py
    functions/main.py
    functions/*/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 