/* Footer Container */
.footer {
  background-color: rgba(23, 19, 71, 1);
  color: white;
  margin-top: 2rem;
  padding: 2em 6em;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.groups {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  width: rem(160px);
}

.title {
  color: #ffffff;
  font-weight: 800;
  margin-bottom: rem(6px);
}

.link {
  color: #a1a1aa;
  display: block;
  font-size: small;
  padding-bottom: rem(4px);
  padding-top: rem(4px);
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    background-color: rgba(23, 19, 71, 1);
    color: white;
    padding: 2em 1.5em 7em 1.5em;
  }
}
