.contentWrapper {
    padding: 2em 5em;
    margin: 0 auto;
    max-width: 1500px;
    max-height: 100vh;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
