.contentWrapper {
    padding: 0.5em 4em;
    margin: 0 auto;
    box-sizing: border-box;
}

.homePage {
    max-width: 1500px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeMsg {
    width: 35rem;
    padding-bottom: 3rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
}
