.navbarItem {
  color: #a1a1aa;
  font-weight: 500;

  &:hover {
    font-weight: 600;
  }
}

.logo {
  display: flex;
}

.logo img {
  width: 8em;
  height: auto;
}

.navbar {
  transition: top 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hidden {
  top: -60px;
}
