.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    color: #A1A1AA;
    font-weight: 500;
}

.logo {
    display: flex
}

.logo img {
    width: 8em;
    height: auto;
}
