<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="One stop directory and AI-enabled search to help make sense of assistance schemes in Singapore.">
    <meta property="og:image" content="static/img/brand/metaimage.png">
    <meta name="author" content="Schemes SG team">
    <title>Schemes SG - Search for social assistance in Singapore</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }

        .bottom {
            padding-bottom: 5%;
            width: min(95%, 800px);
        }

        .message {
            margin: 20px;
        }

        .message p {
            margin: 0;
        }

        #sendbtn:disabled {
            opacity: 0.6;
        }
    </style>
    <script type="text/javascript" src="static/js/indexpal.js"></script>
    <script>
        window.addEventListener("load", function () {
            setTimeout(function () {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="static/img/brand/favicon.png" type="image/png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="static/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="static/css/quick-website.css" id="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195207938-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-195207938-1');
    </script>
</head>

<body>
    <!-- Preloader
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>-->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
                <img alt="Image placeholder" src="static/img/brand/logo.jpg" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">More</a>
                        <div class="dropdown-menu dropdown-menu-single">
                            <a href="schemespal.html" class="dropdown-item">Schemes Pal</a>
                            <a href="schemesbank.html" class="dropdown-item">Schemes Bank</a>
                            <a href="schemescase.html" class="dropdown-item">Schemes Case</a>
                            <div class="dropdown-divider"></div>
                            <a href="about.html" class="dropdown-item">About</a>
                            <a href="blog.html" class="dropdown-item">Blog</a>
                            <a href="team.html" class="dropdown-item">Our Team</a>
                            <a href="update.html" class="dropdown-item">Updates</a>
                        </div>
                    </li>
                </ul>
                <!-- Button -->
                <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="listing.html">
                    Add listing
                </a>
                <!-- Mobile button -->
                <div class="d-lg-none text-center mt-4 mb-2">
                    <a href="listing.html" class="btn btn-block btn-sm btn-warning">Add listing</a>
                </div>
            </div>
        </div>
    </nav>


    <!-- Main content -->
    <section class="slice py-4   bg-section-secondary">
        <div class="container">



            <div class="row row-grid align-items-center justify-content-center">
                <div class="col-8 col-md-5 col-lg-6 order-md-2 text-center">
                    <!-- Image -->
                    <figure class="w-100 responsive-picture-hide">
                        <img alt="Image placeholder"
                            src="static/img/svg/illustrations/banner1.png"
                            class="img-fluid mw-md-120">
                    </figure>
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                    <!-- Heading -->
                    <h1 class="display-4 text-center text-md-left mb-3">
                        Schemes <strong class="text-primary">SG</strong>
                    </h1>
                    <!-- Text -->
                    <p class="lead text-center text-md-left text-muted">
                        Search for public assistance in Singapore easily.
                        <br><br><br>
                    </p>

                    <!-- Form -->
                    <!-- <form id="indexpal">
                    <div class="form-group">
                        <textarea id="indexpal-text" class="form-control form-control-lg" name="Query"
                            placeholder="E.g. I am a dialysis patient in need of financial assistance and food support after being retrenched due to COVID 19"
                            rows="3" required></textarea>
                </form> -->


                    <div class="bottom">
                        <form id="userinputform">
                            <div class="flex items-center rounded-lg bg-gray-50 dark:bg-gray-70">
                                <div class="overflow-auto" style="max-height: 500px;" id="chatwindow">
                                    <div class="message">
                                        <div class="d-flex justify-content-start flex-wrap mr-6">
                                            <div class="p-3 bg-gray-200 text-dark" style="border-radius: 20px;">
                                                <p>Welcome to Schemes Support Chat 🌟 Feel free to ask me questions
                                                    like:
                                                </p>
                                                <ul>
                                                    <li>"Can you tell me more about Scheme X"?</li>
                                                    <li>"How can I apply for support from Scheme X"?</li>
                                                </ul>
                                                <p>To get started, just type your question below. I'm here to explore
                                                    schemes results 🚀</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="upperid"></div>
                                </div>

                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md">
                                            <div class="card p-3">
                                                <div class="form-row align-items-center">
                                                    <div class="col">
                                                        <input type="text" class="form-control" name="chatmessage"
                                                            placeholder="I want to know more about schemes..." id="userinput"
                                                            required></input>
                                                    </div>
                                                    <div>
                                                        <button
                                                            class="btn btn-sm btn-primary d-none d-lg-inline-block ml-2"
                                                            id="sendbtn">
                                                            ➤
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <script>
                        // for scrolling messages
                        function scrollToBottom() {
                            var div = document.getElementById("chatwindow");
                            div.scrollTop = div.scrollHeight;
                        }
                        scrollToBottom()

                        document.getElementById("userinputform").addEventListener("submit", function (event) {
                            event.preventDefault();
                            formsubmitted();
                        });

                        // sending request to python server
                        const formsubmitted = async () => {
                            let userinput = document.getElementById('userinput').value
                            let sendbtn = document.getElementById('sendbtn')
                            let userinputarea = document.getElementById('userinput')
                            let upperdiv = document.getElementById('upperid')

                            upperdiv.innerHTML = upperdiv.innerHTML + `<div class="message">
                                <div class="d-flex justify-content-end flex-wrap ml-6">
                                    <div class="p-3 bg-primary text-white" style="border-radius: 20px;">
                                            ${userinput}
                                        </div>
                                </div>
                            </div>`
                            sendbtn.disabled = true
                            userinputarea.disabled = true
                            scrollToBottom()
                            document.getElementById('userinput').value = ""
                            document.getElementById('userinput').placeholder = "Loading..."

                            const response = await fetch("http://127.0.0.1:8000/chatbot", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ data: userinput })

                            });
                            let json = await response.json();
                            document.getElementById('userinput').placeholder = "I want to know more about schemes..."
                            if (json.response) {
                                let message = json.message
                                message = message.toString()

                                upperdiv.innerHTML = upperdiv.innerHTML + `<div class="message">
                                    <div class="d-flex justify-content-start flex-wrap mr-6">
                                        <div class="p-3 bg-gray-200 text-dark" style="border-radius: 20px;" id="temp">
                                        </div>
                                    </div>
                                </div>`
                                let temp = document.getElementById('temp')
                                let index = 0
                                function displayNextLetter() {
                                    scrollToBottom()
                                    if (index < message.length) {
                                        temp.innerHTML = temp.innerHTML + message[index];
                                        index++;
                                        setTimeout(displayNextLetter, 30);
                                    } else {
                                        temp.removeAttribute('id')
                                        sendbtn.disabled = false
                                        userinputarea.disabled = false
                                    }
                                }
                                displayNextLetter()
                                scrollToBottom()
                            } else {
                                upperdiv.innerHTML = upperdiv.innerHTML +
                                    `<div class="message">
                                        <div class="d-flex justify-content-start flex-wrap mr-6">
                                            <div class="p-3 bg-gray-200 text-dark" style="border-radius: 20px; border: 1px solid red;">
                                                ${json.message}
                                            </div>
                                        </div>
                                    </div>`
                                sendbtn.disabled = false
                                userinputarea.disabled = false
                            }
                            scrollToBottom()
                        } 
                    </script>

                    <!-- Form -->
                    <!-- <form id="indexpal">
                        <div class="form-group">
                            <textarea id="indexpal-text" class="form-control form-control-lg" name="Query"
                                placeholder="E.g. I am a dialysis patient in need of financial assistance and food support after being retrenched due to COVID 19"
                                rows="3" required></textarea>
                        </div> -->



                        <!-- <div class="text-center"> -->
                            <!-- <div class="g-recaptcha" data-sitekey="6Lfs5ScUAAAAANAJwGrdfvWLFRRiVbKRE2vfoaFj"></div> -->
                            <!-- <button id="indexpal-submit" type="button" class="btn btn-sm btn-primary mt-4 mb-4"
                                onclick="handle_indexpal()">Search</button>
                        </div>
                    </form> -->

                    <ul class="list-unstyled mb-0">
                        <li class="py-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                        <i class="fas fa-volume-up"></i>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0">Tell us the help you need.</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="list-unstyled mb-0">
                        <li class="py-2">
                            <div class="d-flex align-items-top">
                                <div>
                                    <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0">Be specific (see e.g.). Don't give identifiable info.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
    </section>

    <!--
    <section class="slice slice-lg bg-section-secondary">
        <div class="container" id="schemespal">
            <div class="py-1">
                <div class="row row-grid justify-content-center align-items-center">
                    <div class="col-lg-5 order-lg-2 px-4">
                        <h5 class="h3 strong-600"><strong>[Beta] Schemes Pal</strong> - your AI referral companion</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-volume-up"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0">You can tell us about your needs and our AI engine will trawl
                                            through our collated listings to search for schemes that could be relevant
                                            to you.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="list-unstyled mb-0">
                            <li class="py-2">
                                <div class="d-flex align-items-top">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0">More details on how to use the AI search tool on the Schemes Pal
                                            page.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <p class="lead my-4">

                        </p>
                        <div class="text-center">
                           
                            <button type="reset" class="btn-reset d-none"></button>
                            <a href="schemespal.html" class="btn btn-block btn-sm btn-primary mt-4">Go to Schemes
                                Pal</a>
                        </div>


                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="mb-0 mr-lg-5">
                            <div class="p-2">
                                <img alt="Image placeholder"
                                    src="static/img/svg/illustrations/undraw_File_searching_re_3evy.svg"
                                    class="img-fluid rounded">
                            </div>
                        </div>
                    </div>
    </section> -->


    <section class="slice slice-lg bg-section-primary pb-0">
        <div class="container text-center">
            <div class="row justify-content-center mb-6">
                <div class="col-lg-8 py-0">
                    <!-- Title -->
                    <h5 class="h3 strong-600" id="schemesbank">
                        The complete <strong>Schemes Bank</strong>
                    </h5>
                    <!-- Text -->
                    <p class="text-muted">
                        We consolidated public listings of government, social service agencies (SSAs), self-help
                        group schemes and made them filterable. We constantly update the list. Best viewed on
                        Desktop. <strong>If you're on mobile</strong> tap on the Bank's main area to activate the inner
                        scrollbar.
                    </p>
                </div>
            </div>
            <div id="iframe-holder">

            </div>
        </div>
    </section>
    <section class="slice slice-lg bg-section-secondary pb-0 pt-0">
        <div class="container mt-md-0 px-4">
            <div class="py-6">
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-5">
                        <h5 class="h3 strong-600"><strong>Schemes Case</strong> - Engage our volunteers
                        </h5>
                        <p class="lead my-4">
                            Can't find anything that meets your needs using the AI or by manually filtering?
                        </p>
                        <ul class="list-unstyled mb-0">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0">We can help with further research to assist you.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-store-alt"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0">If it is a new trend or unmet social need, we might also write
                                            to shed light on it.</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-0 ml-lg-5">
                            <div class="card-body p-4">
                                <form id="schemescase">
                                    <div class="form-group">
                                        <label>Name (optional)</label>
                                        <input class="form-control form-control-lg" name="Name" type="text"
                                            placeholder="e.g. John Tan" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Email (optional, if you want us to reply you)</label>
                                        <input class="form-control form-control-lg" name="Email" type="email"
                                            placeholder="e.g. abc@123.com">
                                    </div>
                                    <div class="form-group">
                                        <label>What area requires more research?</label>
                                        <textarea class="form-control form-control-lg" type="text" name="Case"
                                            placeholder="e.g. I can't find schemes for caregivers with chronic conditions etc..."
                                            rows="3" required></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button id="schemescase-submit" type="submit"
                                            class="btn btn-sm btn-primary mt-4">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px"
                    viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve"
                    class=" fill-section-secondary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container pt-4 px-4">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->

                        <!-- Schemes SG's mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4"><strong>Schemes SG</strong> is a product from
                            better.sg, Singapore's open-source public #techforgood movement. We hope you find it
                            helpful!</p>

                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Sub-products</h6>
                        <ul class="list-unstyled">
                            <li><a href="schemespal.html">Schemes Pal</a></li>
                            <li><a href="schemesbank.html">Schemes Bank</a></li>
                            <li><a href="schemescase.html">Schemes Case</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Info</h6>
                        <ul class="list-unstyled">
                            <li><a href="about.html">About</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="team.html">Our team</a></li>
                            <li><a href="update.html">Updates</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Contact</h6>
                        <ul class="list-unstyled">
                            <li><a href="listing.html">Add a listing</a></li>
                            <li><a href="listing.html">Provide feedback</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2021 <a href="#" class="font-weight-bold" target="_blank">Schemes
                                SG</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="static/libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/iframe.js"></script>
    <script src="static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="static/libs/feather-icons/dist/feather.min.js"></script>
    <script type="text/javascript" src="static/js/schemescase.js"></script>
    <script type="text/javascript" src="static/js/scroll.js"></script>
    <!-- Quick JS -->
    <script src="static/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>

</html>