<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Our very own ML engineer, Quintus Lim, analyses the user queries and schemes data collected in our database to uncover unmet needs in users' queries. This is just the beginning -- our data offers many more possibilities to help social sector agencies and planners get the sensing they need.">
    <meta property="og:image" content="../static/img/blog/queries.jpg">
    <meta name="author" content="Schemes SG team">
    <title>Using Schemes SG's data to identify unmet social needs in our users' queries and improve our search model</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function () {
            setTimeout(function () {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="../static/img/brand/favicon.png" type="image/png"><!-- Font Awesome -->
    <link rel="stylesheet" href="../static/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="../static/css/quick-website.css" id="stylesheet">
    <script src="../static/libs/jquery/dist/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195207938-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-195207938-1');
    </script>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="https://schemes.sg/">
                <img alt="Image placeholder" src="../static/img/brand/logo.jpg" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="https://schemes.sg/">Home</a>
                    </li>
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">More</a>
                        <div class="dropdown-menu dropdown-menu-single">
                            <a href="https://schemes.sg/schemespal.html" class="dropdown-item">Schemes Pal</a>
                            <a href="https://schemes.sg/schemesbank.html" class="dropdown-item">Schemes Bank</a>
                            <a href="https://schemes.sg/schemescase.html" class="dropdown-item">Schemes Case</a>
                            <div class="dropdown-divider"></div>
                            <a href="https://schemes.sg/about.html" class="dropdown-item">About</a>
                            <a href="https://schemes.sg/blog.html" class="dropdown-item">Blog</a>
                            <a href="https://schemes.sg/team.html" class="dropdown-item">Our Team</a>
                            <a href="https://schemes.sg/update.html" class="dropdown-item">Updates</a>
                        </div>
                    </li>
                </ul>
                <!-- Button -->
                <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="https://schemes.sg/listing.html">
                    Add listing
                </a>
                <!-- Mobile button -->
                <div class="d-lg-none text-center mt-4 mb-2">
                    <a href="https://schemes.sg/listing.html" class="btn btn-block btn-sm btn-warning">Add listing</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <section class="slice py-6 pt-lg-7 pb-lg-8 bg-dark">
        <!-- Container -->
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-lg-12">
                    <!-- Heading -->
                    <h1 class="h1 text-white text-center text-lg-left my-0">
                        The "Gapfinder" Study: Using Schemes SG's data to identify unmet social needs in our users' queries and improve our search model
                    </h1>
                    <!-- Text -->
                    <p class="lead text-white text-center text-lg-left opacity-8 py-3">
                        The SchemesSG database has recently grown to 300 schemes and >1,500 user queries. It’s not quite a
                        data lake yet, but perhaps a wading pool from which we
                        can uncover insights on the top social needs in Singapore. We share some of these insights.
                    </p>

                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="shape-container shape-line shape-position-bottom">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px"
                viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>

    <section class="slice slice-lg pb-4">
        <div class="container position-relative zindex-100">
            <div class="row justify-content-center mb-2 mx-2">
                <div class="col-lg-12">
                    <span class="badge badge-primary badge-pill">#technology</span>
                    <p class="h6 lh-180 mt-4 mb-2">
                        In this article, our very own ML engineer <u><a href="https://www.linkedin.com/in/quintus-lim-94379110a/" target="_blank">Quintus Lim</a></u> performs a data driven study to analyse the
                        topology of the >300 schemes in our Bank and >1,500 user queries we have
                        received and served so far. Quintus then analyses    the fit
                        between the listings and the queries, and explains how our team leverages such insights to
                        improve
                        Schemes Pal's search model.

                        <br><br>
                        Quintus's work underscores how the data collated by Schemes SG can serve to provide a critical
                        sensing of
                        social needs on the ground.
                    </p>
                    <p class="text-center">--------</p>
                </div>
            </div>
        </div>
    </section>

    <section class="slice slice-lg pb-4">
        <div class="container position-relative zindex-100">
            <div class="row justify-content-center mb-2 mx-2">
                <div class="col-lg-12">
                    <p class="lh-180 mt-4 mb-2">
                        My blog post today first briefly explains the analytical techniques used to profile the schemes
                        and user queries we've collected, then analyses the results to identify which social areas
                        frequently see unmet needs, and how schemes may be addressing them. This is still preliminary
                        work, and we hope that as our user base grows and the <a href="https://schemes.sg/schemesbank.html" target="_blank"> Schemes Bank</a> becomes a more comprehensive snapshot of the entire social service, it can help serve as a “gapfinder”
                        for unmet social needs in Singapore.
                        <br><br><u><b>Profiling user queries </b></u><br><br>
                        I start by teasing out the main topics that user queries tend to fall
                        under. With >1,500 queries to date collected via <a href="https://schemes.sg/schemespal.html" target="_blank">Schemes Pal</a>, it’s inconvenient to read them
                        manually and we need data science techniques. There are at least 3 ways to approach this:
                        <br>
                        • Classification/supervised learning (e.g. k-Nearest Neighbours) which requires humans to define
                        all
                        relevant topics beforehand;<br>
                        • Self-supervised learning (e.g. Doc2Vec) which picks labels from within the training
                        data itself;<br>
                        • Clustering/unsupervised learning (e.g. k-Means) which solely analyses the features intrinsic
                        to
                        unlabelled data.
                        <br><br>
                        Sometimes even I don't fully remember how these models work, but what’s important is to
                        recognise their pros and cons. For instance, supervised learning uses explicit
                        labels
                        which make our results more interpretable. But this approach has its drawbacks. First, creating
                        those labels is labour-intensive and
                        they may not be
                        accurate. Second, it's hard to label cross-domain queries (e.g.<i> “Financial aid for caregiver
                            respite
                            services, or failing which, transportation to eldercare facilities”</i>) without overfitting
                        and/or taking an exponential amount of time to solve. Third, it’s hard to ensure models don’t
                        just “spin the lottery”, i.e. blindly pick the most frequently-made query to maximise the
                        chances of
                        being correct. Too much work for no guarantee of results – basically the typical Singaporean’s
                        work day!
                        <br><br>
                        <u>This made us consider unsupervised learning</u> (e.g. k-Means, LSI, LDA
                        etc). These models are much less labour-intensive because there’s no need to manually label user
                        queries. But they entail their own set of challenges (e.g. with many possible topics and the
                        high-dimensionality of text data, tuning
                        k-Means is like trying to get a promotion – literally nothing works. Also, k-Means and LSI
                        topics aren’t always interpretable, while LDA has so many hyperparameters I didn’t even
                        try).<br><br>
                        The above considerations directed our attention to <u>models based on word vectors</u>, such as Doc2Vec and
                        pre-trained transformers, which essentially find ways to convert text into numbers. These are
                        getting
                        increasingly accurate. We further found that Doc2Vec and LSI underperformed pre-trained BERTs in
                        our
                        evaluations. It’s hard for a “shallow deep” net to capture the full complexity of a
                        language and multiple domains, plus Doc2Vec can’t handle words with multiple meanings. The word
                        “health” for instance, is often used metaphorically in business and economic contexts. This
                        necessitated a more sophisticated array of algorithms.<br><br>

                        I won't bore the readers with more details, but the general idea is use thicc transformer models
                        for clustering. Then, to visualise our
                        results, we convert numerical representations of each query from 768 numbers into 2 (for
                        dimensionality reduction, I much prefer UMAP to PCA, but if you don't trust noobs, look at
                        <a href="https://vitalab.github.io/article/2018/12/11/umap.html" target="_blank">this</a>, then
                        read <a
                            href="http://www.uvm.edu/~rsingle/stat380/F04/possible/Hadi+Ling-AmStat-1998_PCRegression.pdf"
                            target="_blank">this</a> and <a
                            href="https://www.researchgate.net/publication/333513284_The_principal_problem_with_principal_components_regression"
                            target="_blank">this</a>). We arrive at this:<br><br>
                        <img alt="Image placeholder" class="img-fluid rounded shadow"
                            src="../static/img/blog/queries.jpg"><br>
                        <i>An interactive visualisation is hosted <a
                                href="https://public.tableau.com/shared/S8NSJ3Z38?:display_count=n&:origin=viz_share_link"
                                target="_blank">here</a> for now, where readers can hover their mouse over
                            any bar or bubble to highlight the topic of the query and display share of queries falling
                            under that topic.</i><br><br>
                        Some key points to be gleaned from this:<br>
                        • Search terms are generated by users, but topics are hand-labelled by me after looking at what
                        tends to fall under the topic, and are neither fully objective nor comprehensive.<br>
                        • The embedding quality is pretty good even in just 2 dimensions. Not only are same-topic
                        queries closely spaced, similar topics are reasonably close to each other. E.g. suicide, mental
                        health, divorce, and counselling all neighbour each other. Health-related queries are mostly
                        located in the bottom half, while financial assistance is in the top right. Queries related to
                        retrenchment and unemployment are in the top left.<br>
                        • As is always the case with dimensionality reduction, the X and Y axes have no interpretation -
                        it's 768 dimensions squashed into 2. Imagine trying to draw a die on a piece of paper - you
                        simply can't show all 6 faces in 1 drawing.<br>
                        • Clusters may seem artificially large because people try multiple variations on their queries.
                        Either the results don't suit their needs, or they already know of the schemes returned, and
                        want to see if there's anything new.<br>
                        • When I sampled 100 queries and manually read through them, I identified around 20 topics. My
                        algorithms landed on 26 topics (post cleaning), which is pleasantly close.<br>
                        • Mislabelling commonly occurs when people "bao ga liao" – lumping disparate issues into 1
                        search, like your parents reciting all your flaws in 1 breath. Also, some topics like youth at
                        risk and cyberbullying have been subsumed under other topics even though they should have their
                        own.<br>
                        • These categorizations only indicate the likeliest individual topic of a query. Certainly,
                        queries can and do have more than 1 topic, but visualising this is a nightmare, so I'm reserving
                        this more for internal analysis.<br><br>
                        One might ask: would it be better to use transformers trained on Singlish? (Yes, they exist.)
                        I’d say no; our users mostly type in formal English, and BERT models have seen enough data to
                        not be tripped up when people type "cuz" or “cos” instead of "because". Broken English can in
                        fact be better for machines, because it strips out mostly useless words (like grammar), thereby
                        providing clearer signals to algorithms which don’t really care about linguistic formalities.
                        <br><br><u><b>Profiling schemes listings </b></u><br><br>
                        Meeting these user queries are the various public, private, and non-profit schemes across
                        Singapore which form the Schemes
                            Bank. But queries and schemes have some key differences –
                        <u>queries tend to focus on the problem, while schemes focus on the solution</u>. For instance,
                        schemes
                        in health care tend to describe their financial assistance, caregiving/nursing services,
                        caregiver respite services, transportation services, field trips and wellness programs
                        etc.<br><br>

                        Conversely, queries can mismatch schemes in at least 3 ways:<br>
                        1. The searcher elaborates heavily on the user's condition and situation, and the future
                        repercussions. Technically, this is suboptimal as the <u>model is trained to identify the
                            solution
                            you want, not the problem you are experiencing.</u>
                        (Granted, not everyone, including SchemesSG ourselves, knows what solutions are out there. The
                        model would still work decently, just not at its best.)<br>
                        2. <u>The searcher barely types anything</u>. Now, I get it – when people experience
                        difficulties in
                        life, their first instinct isn't to go write autobiographies on random search engines.
                        Nonetheless, <b>your query remains anonymous, plus, being specific gives better results</b>. We
                        do not
                        collect identifiable data because we neither fill out nor approve applications for schemes.<br>
                        3. <u>The searcher just wants to look see look see</u>. We do appreciate y'all “sliding into our
                        DMs”
                        like this, but if you want proper results, remember to type a proper query =)
                        <br><br>
                        What these differences in language ultimately means is that the topics identified for schemes
                        will be different from the topics identified for queries – we cannot use the same model. Also,
                        keep in mind that because all schemes are heavily multi-domain in nature, parking them under
                        topics strips them of their nuances and richness.

                        <br><br>As with queries, schemes are also clustered
                        reasonably well. This is what the distribution of schemes looks like:<br><br>
                        <img alt="Image placeholder" class="img-fluid rounded shadow"
                            src="../static/img/blog/schemes.jpg"><br>
                        <i>An interactive visualisation is hosted <a
                                href="https://public.tableau.com/shared/B9GDYCYCS?:display_count=n&:origin=viz_share_link"
                                target="_blank">here</a> for now.</i><br><br>
                        I'd point out that having many schemes focused on youth at risk etc. does not mean the area is
                        well-addressed – it's likely the opposite. Volunteers and charitable organisations don't expend
                        their resources on areas that are already thriving – they seek out areas of high unmet need
                        where they can do the most good. Plus, it's not clear-cut that more schemes mean better
                        availability of services, as fragmentation and bureaucracy can easily outgrow their solutions,
                        plus some schemes target only specific demographics. As such, having many schemes for one area
                        simply means this is a common problem with some known solutions.
                        <br><br><u><b>Analysing the fit between queries and schemes – insights and where do we go from
                                here</b></u><br><br>
                        We can further match queries and schemes to see which query topics go unanswered:<br><br>
                        <img alt="Image placeholder" class="img-fluid rounded shadow"
                            src="../static/img/blog/match.jpg"><br>
                        <i>An interactive visualisation is hosted <a
                                href="https://public.tableau.com/shared/X9ZRB6PF5?:display_count=n&:origin=viz_share_link"
                                target="_blank">here</a> for now.</i><br><br>

                        Queries with low matches either encompass too many different problems/schemes such that matching
                        is imprecise (e.g. retrenchment), or simply have few/no schemes available (e.g. funeral
                        services). Queries with high matches tend to be narrow and specific (e.g. cancer finance), but
                        again, do take note that high matches do not always mean an area is well-addressed.
                        <br><br>
                        Some further caveats: merely comparing the text of
                        queries to the online descriptions of schemes does not do enough legwork in evaluating
                        adequacy. Simply counting the number of organizations which say that they are providing
                        something gives little to no indication of the resources they can bring to bear, how well they
                        are addressing needs on the ground, or how broad and sustainable their efforts are. Moreover,
                        our Schemes Bank is still growing.
                        <br><br>As of
                        now, the basic information we have displayed is a budding feature that gives us some sense of
                        growing needs, but
                        it is still not a foolproof indication of
                        social gaps. However, it does give us critical guidance on how best to improve Schemes
                        Pal's model. For now, that
                        is to work on the accuracy for <u>short and generic queries, or where queries cross into
                            multiple
                            domains</u>.
                        <br><br>
                        Don’t get me wrong – there are pretty easy ways to evaluate the relevance of schemes, just that
                        they can open other cans of worms. For instance, it’s certainly possible ask for more in-depth
                        information that allows us deeper insights into the user’s profile. But we’re reluctant to
                        collect granular user data due to high sensitivities in certain areas, and the ongoing push for
                        data privacy. For instance, Schemes SG is completely blind to the profile of users who type in
                        queries, even though there are clear and immediate use cases for improving SchemesSG services.
                        <br><br>
                        As research progresses, we’ll keep thinking of ways to identify unmet needs and
                        social gaps while maximising data privacy. Of course, we ourselves are learning earnestly, and
                        we welcome <a href="https://schemes.sg/listing.html" target="_blank">public contributions and
                            feedback</a> on our website.
                        <br><br>
                        We hope you've enjoyed this article and our services in general, and we’re only just getting
                        started! The dream is to get listed on NASDAQ, and acquire FAANG (just kidding – you can read
                        about
                        our vision <a href="https://schemes.sg/about.html" target="_blank">here</a>. We aim to
                        democratise information on social sector assistance and to make
                        navigation easier). But in the meantime, if you like what we've done, it'd help us a lot by
                        spreading the word, especially to people working in the social sector or those who deliver
                        National Day Rallies. The more our search engine is used, the better it will be!<br><br>
                        <b><i>
                                Quintus is an ex-MPS volunteer working in a policy think tank while pursuing a master’s
                                in data
                                science. He likes fluffy corgis more than they like him. All writing reflects the
                                author's own thoughts, not that of better.sg or any of the organizations listed in
                                the Schemes Bank
                        </b></i>
                    </p>

                </div>
            </div>
        </div>
    </section>


    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px"
                    viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve"
                    class=" fill-section-primary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container pt-4 px-4">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->

                        <!-- Schemes SG's mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4"><strong>Schemes SG</strong> is a product from
                            better.sg, Singapore's open-source public #techforgood movement. We hope you find it
                            helpful!</p>


                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Sub-products</h6>
                        <ul class="list-unstyled">
                            <li><a href="https://schemes.sg/schemespal.html">Schemes Pal</a></li>
                            <li><a href="https://schemes.sg/schemesbank.html">Schemes Bank</a></li>
                            <li><a href="https://schemes.sg/schemescase.html">Schemes Case</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Info</h6>
                        <ul class="list-unstyled">
                            <li><a href="https://schemes.sg/about.html">About</a></li>
                            <li><a href="https://schemes.sg/blog.html">Blog</a></li>
                            <li><a href="https://schemes.sg/team.html">Our team</a></li>
                            <li><a href="https://schemes.sg/update.html">Updates</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Contact</h6>
                        <ul class="list-unstyled">
                            <li><a href="https://schemes.sg/listing.html">Add a listing</a></li>
                            <li><a href="https://schemes.sg/listing.html">Provide feedback</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2021 <a href="https://schemes.sg/" class="font-weight-bold">Schemes
                                SG</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="../static/libs/jquery/dist/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="../static/libs/feather-icons/dist/feather.min.js"></script>
    <!-- Quick JS -->
    <script src="../static/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>

</html>