<!DOCTYPE html>
<html lang="en">

<h1>Test API</h1>
<ul id="test_api"></ul>

<script>
    const ul = document.getElementById('test_api');
    const list = document.createDocumentFragment();
    // const url = 'https://api.schemes.sg/schemespredict';
    const url = 'http://0.0.0.0:8000/schemespredict'

    let data = {
        "query": "I have diabetis and need help",
        "relevance": 0
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        headers: new Headers({
            'Content-Type': 'application/json; charset=UTF-8'
        })
    }

    fetch(url, fetchData)
    .then((response) => {
        return response.json();
    })
    .then((data) => {
        console.log(data)

        data.data.map(function(content) {
            let li = document.createElement('li');
            let agency = document.createElement('h2');
            let scheme = document.createElement('span');

            agency.innerHTML = `${content.Agency}`;
            scheme.innerHTML = `${content.Scheme}`;

            li.appendChild(agency);
            li.appendChild(scheme);
            list.appendChild(li);
        });
        console.log('Appending...')
        console.log({list})
        return list
    })
    .then((list) => {
        ul.appendChild(list);
        console.log('Appended!')
    })
    .catch(function(error) {
      console.log(error);
    });
</script>

</html>
