name: Deploy Functions Prod

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/deploy_functions_prod.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the code
      - uses: actions/checkout@v4

      # Step 1.5:  Environment variables
      - name: create env file
        working-directory: backend/functions
        run: |
          touch .env
          echo "${{ secrets.FUNCTIONS_ENV_VARS_PROD }}" >> .env

      # Step 2: Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # Step 3: Set up Node.js environment
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Step 4: Create Service Account Key and Set Env Variables
      - name: Create SA key and set env variables
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SCHEMESSG_V3_PROD }}' > ${{ runner.temp }}/gcloud.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=${{ runner.temp }}/gcloud.json" >> $GITHUB_ENV

      # Step 5: Prepare the environment
      - name: Prepare the environment
        working-directory: backend/functions
        run: |
          python3.10 -m venv venv
          . venv/bin/activate
          npx firebase-tools --version
          python3.10 -m pip install -r requirements.txt
          npm install -g firebase-tools@14.2.0
          npx firebase-tools --version

      # Step 6: deploy functions
      - name: Deploy functions
        working-directory: backend
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ runner.temp }}/gcloud.json
          ENVIRONMENT: prod  # Explicitly set production environment
        run: npx firebase-tools deploy --only functions --project schemessg --token "${{ secrets.FIREBASE_TOKEN_PROD }}"
